header{
    background-image: linear-gradient(to right, #111111, #212121, #323232, #434343, #555555);
}

.ProductoDestacado{
    transition: all 2s;
}
.ProductoDestacado2:hover{
    transform: translate(0px,-10px) scale(1.1);
    z-index: 10;
    
}

li.NavegacionIteam{
    transition: all 1.5s;
}

.button{
    transition: all 1s;
}