@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Backhome";
    src: url(../font/Backhome.otf);
}


:root{
    font-size: 16px;
}


body{
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}
header{
padding: 1rem; 
width: 100%;
height: 140px;
top: 0;
z-index: 9999;
display: flex;
align-items: center;
position: sticky;
background-color: rgba(255, 255, 255, 0.884);
}


/* pseudoelemento */

p::selection{
    background-color: rgba(255, 140, 0, 0.603);
}
h1::selection{
    background-color: rgba(255, 140, 0, 0.603);
}
h2::selection{
    background-color: rgba(255, 140, 0, 0.603);
}
h3::selection{
    background-color: rgba(255, 140, 0, 0.603);
}
h4::selection{
    background-color: rgba(255, 140, 0, 0.603);
}
li::selection{
    background-color: rgba(255, 140, 0, 0.603);
}


h1{
    font-family: 'Backhome';
}


nav.navegacionSuperior{
    
    border-radius: 5px;
    margin: 10px 10px 10px 450px;
    display: inline;
    font-size: 27px;
    text-align: center;
    
}

ul.NavegacionNav {
    display: inline-block;
    height: 40px;
    text-align: center;
    text-decoration: none;
}
/* Menu mobile */
#check_menu, .navegacionSuperior label{
    display: none;
}

li.NavegacionIteam{
    text-decoration: none;
    display: inline;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
    margin-left: 15px;
    text-align: center;
    border-radius: 10px;
}



ul li a {
    text-decoration: none; /* Elimina la línea de subrayado */
    color: black;
}

.NavegacionIteam:hover{
    background-color: rgba(255, 140, 0, 0.603);
}
/* LOOGOCRONOZ estilo para logo principal y logo del footer */
#logocronoz{
    border-radius: 100px;   
    width: 130px;
    margin-top: 1px;
    margin-left: 45px;
}



/* Seccion de novedades de la pagina */

div.contenedorNovedades{
    background-color: black;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
    margin: 50px 10px 50px 170px;
    
    
}

h1.tituloNovedades{
    color: white;
    font-size: 2.5rem;
}


.NovedadesIMG{
    border-radius: 15px;
    border: 5px solid black;
    width: 500px;
    
}


/* Final de seccion NOVEDADES */

/* Pequeno cartel markeing */

section.marketing1{
    
    font-size: 2.5rem ;
    margin: 50px;
    text-align: center;
}

/* Categorias */

div.Categorias{
    
    margin:5px 1px 1px 1px;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 550px;
    border-top: 2px solid black;
    margin-top: 10px;
}

h2.CategoriaTitu{
    text-align: center;
    font-size: 3rem;
    margin-top: 30px;
    }


img.ImgCategorias{
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px 10px 10px 0px; 
    margin-left: 30px;
    text-align: center;
    opacity: .9;
}
img.ImgCategorias:hover{
    opacity: 1;
}

h2.CategoriaRedirec1{
    font-size: 5rem;
    width: 190px;
    display: inline-block;
    font-family: 'Backhome';
    position: absolute ;
    top: 1350px;
    right: 1270px;
    color: black;
    background-color:rgba(220, 220, 220, 0.527) ;
    }


    h2.CategoriaRedirec2{
        font-size: 5rem;
        width: 390px;
        display: inline-block;
        font-family: 'Backhome';
        position: absolute ;
        top: 1350px;
        right: 726px;
        color: black;
        background-color:rgba(220, 220, 220, 0.527) ;
    }
    
    h2.CategoriaRedirec3{
        font-size: 5rem;
        width: 190px;
        display: inline-block;
        font-family: 'Backhome';
        position: absolute ;
        top: 1350px;
        right: 385px;
        background-color:rgba(220, 220, 220, 0.527) ;
        color: black;
    }

/* Seccion destacados */

button:hover{
        background-color: rgba(255, 140, 0, 0.603);
    }

.TextRedirec:hover{
    background-color:rgba(255, 140, 0, 0.603) ;
}
.TextRedirec1:hover{
    background-color:rgba(255, 140, 0, 0.603) ;
}

div.DestacadosTodo{
    text-align: center;
    font-weight: 600; 
}

section.Destacados{
    
    margin: 0px 705px;
    width: 450px;
    padding: 30px;
    font-size: 1.5rem;
    text-align: center;
    
}

div.ProductoDestacado{
    width: 460px;
    display: inline-block;
    opacity: .95;
    height: 500px;
}
div.ProductoDestacado:hover{
    opacity: 1;
}


img.ImgDestacados{
    width: 340px;
    height: 340px;
    border-radius: 30px;
    margin: 10px 10px 1px  1px;
    display: inline-block;
    border: 3px solid black;
    
}


section.ProductoRedirec{

    width: 100%;
    text-align: center;
    padding: 50px;
}


a.TextRedirec1{
    width: 450px;
    padding: 10px;
    background-color: white;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}


/* Fin seccion destacados */



/* Seccion sobre los satinados */

div.Satinados{
        display: grid;
    justify-content: center;
    width: 100vh;
    grid-template-columns: repeat(2,1fr);
    display: flex;
    align-items: center;
    position: relative;
    left: 400px;
    gap: 5px;
}


h2.TextMarketing{
    color: black;
    text-align: center;
    font-family: 'Backhome';
    font-size: 60px;
}


img.ImgSatinados{
    width: 250px;
}


/* Fin sobre los satinados */


/* Seccion final de la pagina */


section.Final{
    text-align: center;
    
}


a.TextRedirec{
    width: 640px;
    padding: 10px;
    background-color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    margin-top: 60px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}


div.final1{
    display: inline-block;
    padding: 90px;
}


img.ImgResumen{
    width: 200px;
    padding: 25px;
}


p.textfinal1{
    font-weight: 500;
    padding: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}



/* INICIO SECCION FOOTER */


footer{
    margin: 0px 0px 60px 10px;
    /* text-align: center; */
    width: 100%;
    border-top: 2px solid black ;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 250px;
    text-align: center;
    background-color: white;
    font-size: 18px;
}

.icon-footer{ 
    width: 15px;
}

ul.sinPunto{
    list-style-type: none;    
}
#email:focus{
    background-color: rgba(128, 128, 128, 0.37);
}   


#logocronoz2{
    border-radius: 100px; 
    width: 150px;
    position: relative;
    top: 50px;
    left: 80px;
    
}

/* Final SECCION FOOTER */


/* Pagina productos */

/* Para la pagiona productos todas las imagenes en su devido div
tienen aplicado el mismo CSS class que las imagenes del index
que se encuentran en la seccion destacados. ProdcutosDestacados 
y imgDestacados */

.grid1{
    max-width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 500px ;
    /* margin-left: 200px; */
    margin: 0 auto;
} 
section.proximamenteVideo{
    width: 270px;
    height: 500px;
    font-size: 18px;
    position: absolute;
    left: 1500px;
    top: 2150px;
    text-align: center;
    color: rgba(3, 0, 0, 0.904);
    border-radius: 30px;
    z-index: 9;
}
video.video1{
    width: 200px;
    border-radius: 30px;
}
h1.titulo_categorias {
    font-size: 90px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}

#Living{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    width: 100%;
    padding: 10px;
    margin-left: -15px;
    font-weight: 500;
}


#ComedorCocina{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    width: 100%;
    padding: 10px;
    margin-left: -15px;
    font-weight: 500;
}


#Otros{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    width: 100%;
    padding: 10px;
    margin-left: -10px;
    font-weight: 500;
}


ul.ProductoDestacado{
    top: -50px;
    list-style-type: none;
    text-align: center;

}


/* Acomodo footer */

footer.footerProductos{
    margin-top: 150px;
    
}

/* Tamano imagnes de las todas categorias */

img.tamanoAdaptado{
    width: 340px;
    height: 340px;
    border-radius: 30px;
    border: 3px solid black;
    
}


/* INICIO PAGINA NOSOTROS */


img.img_nosotros{
    width: 350px;
    border-radius: 10px;
    padding: 1px;
    /* position: relative;
    left: 200px;
    top: 90px; */
}


section.text_nosotros{
    text-align: center;
    /* position: relative; */
    /* top: -500px;
    left: 800px; */
    font-size: 20px;
    padding: 20px;

}


h1.title_nosotros{
    font-size: 50px;
    margin: 0px 0px 40px;
}


/* INICIO PAGINA PROYECTOS A MEDIDA */
.pasos-seguir{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    
}
h1.title_medida{
    font-size: 60px;
    text-align: center;
}


p.text-medida{
    font-size: 30px;
    width: 850px;
    text-align: center;
    margin-left: 500px;
    padding: 20px;
}


ol{
    font-size: 25px;
    width: 1000px;
    margin-left: 450px;
    font-weight: 600;
    height: 500px;
    padding: 30px; 
}


/* INICIO PAGINA CONTACTO */

img.img-contacto{
    width: 20px;
}


div.contacto-section{
    font-size: 25px;
    text-align: center;
    width: 35%;
    display: inline-block;
    align-items: center;
    align-content: center;
    
}

h2.google-text{
    font-size: 30px;
    width: 80%;
}

div.google-maps{
    padding: 50px;
    width: 35%;
}



.contacto-info{
    display:flex ; 
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
}
/* COLOR FONDO TODO EL SITIO WEB */
body{ 
    background-color: rgba(0, 0, 0, 0);}

/* Responsive Grids ll */
@media (max-width:1440px){
#logocronoz{
    width: 130px;
    margin-top: 5px;
}
header{
    height: 140px;
}
nav.navegacionSuperior{
    margin: 10px 10px 10px 200px;
    font-size: 19px;
}

section.proximamenteVideo{
        left: 850px;
        top: 1410px;
}
.grid1{         
        width: 90%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 500px ;
        margin: 0 auto;
        justify-content: center;
} 
}
.RedesSociales form{
    font-size: 11px;
}

@media (max-width:1200px){
header{
    height: 140px;
}
ul.NavegacionNav {
        font-size: 17px;
        display: inline;
        width: 100%;
        margin-left: -50px;
}
.grid1{
    width: 90%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 480px ;
    margin: 0 auto;
} 
h1.titulo_categorias {
    font-size: 90px;
    padding: 10px;
    margin-top: 1px;
}
#Living{
    margin-top: 1px;
    width: 90%;
    margin: 0 auto;
    display: block;
}
#Otros{
    font-size: 50px;
    width: 90%;
    margin: 0 auto;
}
#ComedorCocina{
    width: 90%;
    margin: 0 auto;
}
section.proximamenteVideo{
    left: 750px;
    top: 1450px;
}
div.ProductoDestacado{
    width:100%;   
}
h3{
    font-size: 20px;
    margin-top: 5px;
}
button{
    padding: 4px;
    border-radius: 5px;
    
}
footer{
    margin: 0px 0px 60px 0px;
    /* text-align: center; */
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 250px;
    text-align: center;
    font-size: 13px;
}
#logocronoz2{
    width: 130px;
    top: 20px;
    left: 25px;
    
}
}

@media (max-width:1024px){
    header{
        height: 150px;
        width: 100%;
        }
    
    ul.NavegacionNav {
        display: inline;
        position: relative;
        margin-left: -120px;
        font-size: 15px;
        

        }
    .grid1{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 500px ;
        width: 100%;
        gap: 5px;
    } 
    section.proximamenteVideo{
        left: 630px;
        top: 1940px;
    }
    #Living{
        font-size: 70px;
        margin-top: 1px;
}
    
    #ComedorCocina{
    font-size: 70px;
}
    #Otros{
    font-size: 70px;
}
footer{
    margin: 0px 0px 60px 0px;
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 250px;
    text-align: center;
    font-size: 13px;
}
#logocronoz2{
    left: 30px;
    margin-left: -10px;
}
}

@media (max-width:768px ){
/* menu mobile /tablet */
#logocronoz{
    border-radius: 100px;   
    width: 110px;
    margin-top: 3px;
    margin-left: 45px;
}
header{
    height: 130px;
}
ul.NavegacionNav{
    display: none;
}

.navegacionSuperior label{
    display: inline-block;
    position: relative;
    left: 210px;
}

.navegacionSuperior label i{
    font-size: 50px;

}
.navegacionSuperior #check_menu:checked~ .NavegacionNav {
    display: block;
    background-color: rgba(10, 1, 1, 0.76);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 101px;
    top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    gap: 15px;
    border-radius: 5px;
    z-index: 9999;
}
li.NavegacionIteam{
    border: 0px solid black;
    padding: 5px;
    background-color: rgba(238, 237, 237, 0.705);
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    border-bottom: px solid black;
    
}

.grid1{
    grid-template-columns: repeat(2,350px);
    grid-template-rows: 480px;
    margin-left: -30px;
} 
h3{
    font-size: 22px;
    margin-top: 5px;
}
    h1.titulo_categorias {
        font-size: 80px;
        text-align: center;
        padding: 10px;
        margin-top: 0px;
    }
    section.proximamenteVideo{
        left: 450px;
        top: 1850px;
    }
    #Living{
        font-size: 50px;
        margin-top: 0px;
        margin-left: 0px;
}
    
    #ComedorCocina{
    font-size: 50px;
    margin-left: 0px;
}
    #Otros{
    font-size: 50px;
    margin-left: 0px;
}

footer{
    margin: 0px 0px 60px 0px;
    /* text-align: center; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 2,350px);
    grid-template-rows: 1fr;
    text-align: center;
    background-color: white;
}
#logocronoz2{
    border-radius: 100px; 
    width: 130px;
    position: relative;
    top: 20px;
    left: 315px;
    
}
.RedesSociales form{
    font-size: 13px;
}

}
@media (max-width:600px){
.grid1{
    grid-template-columns: 1fr;
    grid-template-rows: 500px ;
    width: auto;
    margin-left: 30px;
} 
section.proximamenteVideo{
    display: none;
}
h1.titulo_categorias {
        width: 100%;
        font-size: 80px;
        width: 100%;
        margin-left: 20px;
}
footer{
    width: 107%;
    display: grid;
    grid-template-columns: repeat( 2,300px);
    grid-template-rows: 1fr;
}
#logocronoz2{
    top: 20px;
    left: 260px;
}
}
@media (max-width:480px){
    /* menu mobile /tablet */
#logocronoz{
    border-radius: 100px;   
    width: 120px;
    margin-top: 1px;
    margin-left: 35px;
}
header{
    height: 125px;
}
ul.NavegacionNav{
    display: none;
    
}

.navegacionSuperior label{
    display: inline-block;
    position: relative;
    left: 40px;
    top: 0px;
    
}

.navegacionSuperior label i{
    font-size: 50px;
    

}
.navegacionSuperior #check_menu:checked~ .NavegacionNav {
    display: block;
    background-color: rgba(10, 1, 1, 0.76);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 110px;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    gap: 15px;
    z-index: 9999;
    border-radius: 10px;

}
li.NavegacionIteam{
    border: 0px solid black;
    padding: 5px;
    background-color: rgba(238, 237, 237, 0.705);
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    border-bottom: px solid black;
    
}
    .grid1{
        grid-template-columns: 1fr;
        grid-template-rows: 500px;
        width: 100%;
        margin: 0 auto;
    } 
    section.proximamenteVideo{
        display: none;
    }
    
        #Living{
            font-size: 40px;
    }
        
        #ComedorCocina{
        font-size: 40px;

    }
        #Otros{
        font-size: 40px;

    }
    h1.titulo_categorias {
        margin-left: 0px;
    }
    footer{
        margin: 0px 0px 60px 0px;
        /* text-align: center; */
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
        text-align: center;
        background-color: white;
    }
    #logocronoz2{
        border-radius: 100px; 
        width: 150px;
        position: relative;
        top: 35px;
        left: 155px;
        }
        .RedesSociales form{
            font-size: 15px;
        }
}
@media (max-width:320px){
    header{
        width: 140%;
    }
    .grid1{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 500px;
        margin: 0 auto;
        margin-left: 70px;
    } 
    section.proximamenteVideo{
        display: none;
    }
    
    #Living{
        width: 100%;
        font-size: 40px;
        margin: 0 auto;
        margin-left: 55px;
    }
        
        #ComedorCocina{
        font-size: 40px;

    }
        #Otros{
        font-size: 40px;  
        width: 100%;
        margin-left: 55px;
    }
    h1.titulo_categorias {
        padding: 0px;
        margin-left: 75px;    
    }
    footer{
        margin: 0px 0px 50px 0px;
        gap: 10px;
        display: grid;
        grid-template-columns: 450px;
        grid-template-rows: 200px;
        font-size: 14px;
        /* background-color: rgb(255, 0, 0); */
        width: 480px;
    }
}


@media (min-width:1600px){
    .RedesSociales form{
        font-size: 15px;
    }
}


/* FINAL DE PARTE RESPONSIVE. SOLO CON MEDIA QUERIES */